In [34]:
import os
import pandas as pd

#### Reading all CSV files in a single DataFrame 
##### ignore_index is required , otherwise it will duplicate the idexes in final frame

In [121]:
path='Sales_Data'
if os.path.exists(path):
    files=os.listdir(path)
sales_data_year=pd.DataFrame()
if len(files) !=0:
    for file in files:
        sales_data=pd.read_csv(path+'/'+file,sep=',')
        sales_data_year=pd.concat([sales_data_year,sales_data],ignore_index=True) 
sales_data_year.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [122]:
# Find NAN values
#print(sales_data_year.isna()) # checks on whole DataFrame
#print(sales_data_year.isna().any()) # checks on columnwise 
#print(sales_data_year.isna().any(axis=1)) # checks on row
#all_na=sales_data_year[sales_data_year.isna().any(axis=1)]
#display(all_na)
sales_data_year=sales_data_year.dropna(how="all") # all na rows dropped
display(sales_data_year)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

### What was the best month for sales? How much was earned that month?

In [128]:
#sales_data_year['Date_Time']=pd.to_datetime(sales_data_year['Order Date'],format='%m%d%y:%H:%M')
#sales_data_year
#sales_data_year['Sale_Month'] = pd.to_datetime(sales_data_year['Order Date']).dt.month
#sales_data_year.head()
#sales_data_year['Month'] = sales_data_year['Order Date'].str[0:2]
#sales_data_year
#sales_data_year[sales_data_year[]]
#sales_data_year[((sales_data_year["Order ID"] =="177052") | (sales_data_year["Order ID"] =="237171"))]
#sales_data_year.loc[[516,517,518,522],]
#temp=sales_data_year[sales_data_year['Month']=='Or']
#temp.head()
#sales_data_year['Month'] = sales_data_year['Month'].astype('int32')
#sales_data_year.head(20)

ValueError: Lengths must match to compare